/*Assistenza */
/*SEZIONE d*/
.content-section-d {
  padding-top: 130px;
  border-top: none;
  border-bottom: none;
  background: url(../img/bg-section-c.svg) no-repeat top right; }

/* ./Assistenza*/
