.img-fluid {
  max-width: 100%;
  height: auto; }

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: ease all 1s;
  -o-transition: ease all 1s;
  transition: ease all 1s;
  border-radius: 3px; }
  .portfolio-item .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1; }
    .portfolio-item .caption .caption-content {
      color: white;
      margin: auto 2rem 2rem; }
      .portfolio-item .caption .caption-content h2 {
        color: white; }
  @media (min-width: 992px) {
    .portfolio-item {
      max-width: none;
      margin: 0; }
      .portfolio-item .caption {
        -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
        -webkit-clip-path: inset(0px);
        clip-path: inset(0px); }
        .portfolio-item .caption .caption-content {
          -webkit-transition: opacity 0.25s;
          -o-transition: opacity 0.25s;
          transition: opacity 0.25s;
          margin-left: 5rem;
          margin-right: 5rem;
          margin-bottom: 5rem; }
      .portfolio-item img {
        -webkit-transition: -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path: inset(-1px);
        clip-path: inset(-1px); }
      .portfolio-item:hover img {
        -webkit-clip-path: inset(2rem);
        clip-path: inset(2rem); }
      .portfolio-item:hover .caption {
        background: -webkit-gradient(linear, left top, right top, from(rgba(25, 160, 255, 0.3)), to(rgba(45, 21, 130, 0.5)));
        background: -webkit-linear-gradient(left, rgba(25, 160, 255, 0.3), rgba(45, 21, 130, 0.5));
        background: -o-linear-gradient(left, rgba(25, 160, 255, 0.3), rgba(45, 21, 130, 0.5));
        background: linear-gradient(to right, rgba(25, 160, 255, 0.3), rgba(45, 21, 130, 0.5));
        -webkit-clip-path: inset(2rem);
        clip-path: inset(2rem); } }
