@import "variabiles";
/*consulenza*/
.content-section-e {
    padding-top: 50px;
    border-top: none;
    border-bottom: none;
    background: url(../img/bg%20assistenza@2x.png) no-repeat top right;
}

@media(max-width:767px) {
.content-section-e {
    padding-top: 30px;
    border-top: none;
    border-bottom: none;
    background-color: #50ecab;
}

}
/* ./consulenza */

/* Price Area css
============================================================================================ */
.price_area{
}
.price_inner{
	
}
.price_item{
	text-align: center;
	color: #fff;
    border-radius: 5px;
    background: #fff;
    position: relative;
    padding-top: 35px;
    
	.price_head{
		text-align: center;
		background: $price-blue;
		padding: 35px 0px;
		h4{
			font-size: 38px;
			color: $title-color;
            margin-bottom: 0px;
            font-family: $title-font;
            color: #fff;
		}
		h3{
			color: #b5cdf1;
			font-size: 64px;
		}
	}
	.price_body{
        background: $price-blue;
        padding-bottom: 35px;

		ul{
			li{
				font-size: 23px;
				font-weight: 300;
				margin-bottom: 15px;
			}
		}
	}
	.baffo {
		width: 25px;
    vertical-align: baseline;
    margin-right: 15px;
	}
	}
/* End Price Area css
============================================================================================ */
