@import "variabiles";
/*consulenza*/
.content-section-e {
    padding-top: 50px;
     padding-bottom: 50px;
    border-top: none;
    border-bottom: none;
    background: url(../img/bg%20assistenza@2x.png) no-repeat top right;
}
/* ./consulenza */