@import "variabiles";
/*------------------------------------------------------------------*/
/*INTRO*/


.intro-header {
    padding-top: 0px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/Erik.-Home@2x.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 13%;
    padding-bottom: 25%;
    padding-left: 60%;

	p {
	font-size: 60px;
    font-weight: 400;
    text-align: left;
    }
}

@media(max-width:1366px) {
   .intro-message {
    position: relative;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 55%;

	p {
	font-size: 60px;
    font-weight: 400;
    text-align: left;
    }
}
}

/*END INTRO*/

/*SEZIONE A*/

.content-section-a {
    padding: 0px 0;
    background-color: #ffffff;
}

.textcenter {
	text-align: center;
}

.intro2{
	font-size: 50px;
	padding-bottom: 50px;
}

.nav-item{
	text-align:center;
}

$tabs: 3;
$brand: linear-gradient(to right, $btn-blue-dark , $btn-blue-ligth );

input[name="tabs"] {
  display: none;
  @for $i from 1 through $tabs {
    &#tab-#{$i}:checked {
      ~ .content .tab:nth-of-type(#{$i}) {
        display: inline-block;
      }
      ~ .tabs label:nth-child(#{$i}) {
        color: #242b36;
        &:after {
          width: calc(50% - 40px);
          transition: .5s;
        }
      }
    }
  }
}

.tabs {
  overflow-X: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  white-space: nowrap;
  label {
    display: inline-block;
    padding: 18px;
    position: relative;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    width: 33%;
    text-align: center;
    &:after {
      content: '';
      background: $brand;
      width: 0;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: .5s;
    }
  }
}

.container {
  .tab {
    display: none;
    padding: 0 20px;
    margin-top: 20px;
  }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #ffffff;
}

.homebanner{
	width: 100%;
	margin-bottom: 30px;
}

@media(max-width:767px) {
	   .intro-message {
    position: relative;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 60%;
    
    
    	p {
	    font-size: 30px !important;
    	}
    }
.nav-item{
	text-align:center;
	width: 33%;
    padding: 0 !important;
    margin: 0 auto;
}
.nav{
	li{
	}
	h3{
		font-size: 19px;
	}
	a{
	padding: 0 !important;
	position: relative;
    display: inline;
    }
    img{
	    width: auto;
	    height: 50px;
    }
}
}
/*FINE SEZIONE A*/
/*SEZIONE B*/
.content-section-b {
    padding: 150px 0;
    border-top: none;
    border-bottom: none;
    background: url(../img/bg-section-b.png) no-repeat top right;
}

.logo-netbi{
	width: 70%;
}

.testo{
	margin-bottom: 10px;
}

.divider{
	margin-top: 100px;
}

/*FINE SEZIONE B*/

/*SEZIONE C*/
.content-section-c {
    padding: 150px 0;
    border-top: none;
    border-bottom: none;
    background: url(../img/bg-section-c.svg) no-repeat top right;
}

.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media(max-width:767px) {
   .logo-netbi{
	width: 100%;
	padding-bottom: 30px;
	}
   .intro-message {
    position: relative;
    padding-top: 0%;
    padding-bottom: 20%;
    padding-left: 45%;
	}
     .icontab{
	    width: 50px;
    }
}

@media(max-width:568px) {
  .tabs label h3 {
    font-size: 11px !important;
	}
}


$tabs: 3;
$brand: linear-gradient(to right, $btn-blue-dark , $btn-blue-ligth );

input[name="tabs"] {
  display: none;
  @for $i from 1 through $tabs {
    &#tab-#{$i}:checked {
      ~ .content .tab:nth-of-type(#{$i}) {
        display: inline-block;
      }
      ~ .tabs label:nth-child(#{$i}) {
        color: #242b36;
        &:after {
          width: calc(80% - 20px);
          transition: .5s;
        }
      }
    }
  }
}

.tabs {
  overflow-X: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  white-space: nowrap;
  label {
    display: inline-block;
    padding: 0px;
    position: relative;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0px;
    cursor: pointer;
    width: 33%;
    text-align: center;
    &:after {
      content: '';
      background: $brand;
      width: 0;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: .5s;
    }
    h3{
	    font-size: 15px;
    }
  }
}
.container {
  .tab {
    display: none;
    padding: 0;
    margin-top: 20px;
  }
}

.testo{
	margin-bottom: 10px;
}

/*FINE SEZIONE C*/

