@import "variabiles";
/*Nav Bar*/

.buttonav {
	border-color: 1px solid white;
}

.logo{
	padding-top: 10px;
	float: left;
	width: 100%;
}

.navbar {
    position: relative;
    min-height: 90px;
    margin-bottom: 50px;
        border: none;
}

.navbar-default {
	background: linear-gradient(to right, $nav-ligth-blue, $nav-dark-blue);
	
	.navbar-nav>li>a {
    	color: #fff;
    	text-transform: uppercase;
    	font-size: 18px;
    	font-style: bold !important;
    	padding-top: 36px
	}
}

@media(max-width:768px) {
	.logo{
	width: 70%;
	float: left;
	padding-left: 0px;
	}
	
	.btn-wt{
    padding: 10px 30px;
    font-size: 20px;
    line-height: 1.3333333;
    letter-spacing: 2px;
    border-radius: 6px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to right, $btn-blue-dark , $btn-blue-ligth );
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    width: 50%;
	}
	
	.whitecta{
	color: white !important;	
	font-size: 25px;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    margin: 15px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1)  { 
	.logo{
	width: 50%;
	float: left;
	padding-left: 0px;
	}}

/*END NAV BAR*/
